* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Whole Container */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Left Display */
.left-display {
    display: flex;
    flex-direction:column;
    border: solid;
}

/* Calendar */
.calendar {
    width: 30rem;
    height: 42rem;
    background-color: aliceblue;
    box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4);
}
.bar-space{
  width : 100%;  
  height : 5rem;
  background-color:aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.dep{
    font-weight: bold;
}
.bar{
    width : 50%;  
    height : 2rem;
    background: linear-gradient(to right,#ffffff, #ff0b03);
    margin: 1rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    text-align: center;
  }
.zero {
    position: relative;
    right: 20px;
    font-weight: bold;
}
.hund{
    position: relative;
    left: 105px;
    font-weight: bold;
}

.month {
    width: 100%;
    height: 7rem;
    background-color: rgb(231, 186, 231);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
}
.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.2rem;
    display: flex;
    align-items: center;
  }
.weekdays div {
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(29.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}
.days div {
    font-size: 1.2rem;
    margin: 0.1rem;
    width: calc(27.6rem / 7);
    height: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}
.prev-date,
.next-date {
    opacity: 0.5;
}
.days div:hover:not(.today) {
    border-radius: 50%;
    background-color: #687fff;
    cursor: pointer;
  }

.today {
    border-radius: 50%;
    background-color: #687fff;
}

/* Sleep Time & Depression Level Chart */
.sleep-time-depression-level {
    width: 700px;
    border-radius: 10px;
    border: black;
}

/* Right Display (Map & Pie Charts All Together) */
.right-display {
    display: flex;
    flex-direction:column;
    border: solid;
}

/* Exercise Map */
.exercise-map {
    padding-left: 100px;
    position: right;
}

/* Daily Distance & Calories Pie plot */
#wrapper {
    display: inline-flex;
}
  
#daily-distance-plot {
    flex: 0 0 65%;
}

#daliy-calories-plot {
    flex: 1;
}

.daily-emotion {
    padding-top: 0%;
}

/* img {
    width: 30rem;
    height: 30rem;
} */

#map {
    height: 100%;
    
}

html,
  .exercise-map {
    height: 100%;
    margin: 0;
    padding: 0;
    
  }

.date {
  height: 30px;
}

.date-string {
  width: 300px;
  position: relative;
  left: 100px;
  bottom: 28px;
}

#prev {
  cursor:pointer;
}

#next {
  cursor:pointer;
}